<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HashTag</title>
    <link rel="icon" href="/assets/icon.png">
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/layout.css" />
</head>
<body>

<!-- Header/Nav-->

<header class="header">
    <h1 class="header__title">Surviving Coding Boot Camp</h1>
    <nav class="header__nav">
        <div class="header__nav-item"><a href="/" class="header__nav-link">Home</a></div>
        <div class="header__nav-item"><a href="/hashtags" class="header__nav-link">Hashtags</a></div>
    </nav>
</header>

    <h1>All HashTags</h1>
    <div th:each="tag:${allHashtags}">
        <a th:href="'/hashtags/' + ${tag.id}"><p th:text="${tag.name}"></p></a>
    </div>

</body>
</html>